footer {
    border: solid 1px red;
    margin: 40px;
    border-radius: 10px;
    h1{
        font-size: 100px;
        padding: 10px;
        font-weight: normal;
        text-align: center;
    }
}

